.all-spots-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 223px);
    gap: 31px;
    margin-top: 25px;
    justify-content: center;

}

.spot-container {
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
    text-align: center;
}

.spot-info-container{
    border: solid navy;
    padding: 7px;
    border-radius: 13px;
}

.spot-image-container{
    width: 200px;
    height: 200px;
    justify-content: center;
}

.spot-info {
    text-align: left;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: navy
}
